.video-container {
    margin: 15px 0;
    border: solid 1px $gray200;
    .video-description {
        padding: 10px;
        h4 {
            font-size: 16px;
            display: block;
            height: 70px;
        }
        .date {
            display: block;
            height: 30px;
        }
        span {
            display: block;
            height: 20px;
        }
    }
    .thumbnail {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        img {
            width: 100%;
        }
    }
    .video-actions {
        padding: 15px 0;
    }

    &.tiles {
        width: 100%;
        .thumbnail {
            height: 200px;
        }
    }
    &.list {
        width: 100%;
        display: flex;
        padding: 5px;
        border-radius: 5px;
        height: 200px;
        .video-actions {
            width: 350px;
        }
        .thumbnail {
            flex: 0 0 250px;
            overflow: hidden;
            min-width: 40%;
            max-width: 40%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        .video-description {
            width: 100%;
            h4 {
                height: 40px;
            }
        }
    }
}
