.navbar {
    margin-bottom: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}
.nav-item {
    a {
        display: block;
        padding: 10px 20px;
    }
}
