$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #6b7280;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$gray900: #111827;
$blck: #000000;

@import './components/NavBar/navbar.scss';
@import './components/VideoList/video.scss';
@import './components//Pagination/pagination.scss';

body {
    font-size: 14px;
    color: $gray700;
}
a {
    &:hover {
        text-decoration: none;
    }
}
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
